include mixins.pug

block variables

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title #{title}
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/style.css")
		script(src="https://www.google.com/recaptcha/api.js")
	body.no-js
		include blocks/header.pug

		block content

		include blocks/footer.pug
		.modal-wrapper
		include blocks/modal.pug
		include blocks/modal--recovery.pug
		include blocks/modal-right.pug
		include blocks/modal-right--cart.pug
		include blocks/modal-search.pug

	script(type="text/javascript" src="js/script.js")