.another-goods {
    margin-bottom: 83px;
}

.another-goods__title {
    @include font($accent-font-family, 21px, normal, 31px, #9C9C9C, none);
    margin-bottom: 71px;
}

.another-goods__content-block {
    @include flex(row, space-evenly);
    align-items: center;
}


.another-goods__gallery-list {
    @include flex(row, space-evenly);
    flex-wrap: wrap;
    padding: 0;

    .another-goods__list-item {
        position: relative;
        margin-bottom: 30px;
        list-style: none;
    }
}

.another-goods__text-block {
    position: absolute;
    bottom: 10px;
    left: 11px;
    display: none;
    @include font($accent-font-family, 15px, normal, 22px, $modal-text-color, none);

    .another-goods__list-title {
        margin-bottom: 0;
    }
}

.another-goods__list-link:hover .another-goods__text-block {
    display: block;
}

.another-goods__button {
    display: block;
    width: 270px;
    height: 57px;
    margin: 0 auto;

    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #fff;

    @include font($main-font-family, 22px, normal, 29px, $main-text-color, none);
    text-align: center;
}