.modal {
	position      : fixed;
	top           : 50vh;
	left          : 50vw;
	z-index       : z('modal');

	display       : none;

	padding       : 37px 143px;
	box-sizing    : border-box;
	width         : 630px;

	transform     : translate(-50%, -50%);

	border-radius : 25px;
	background    : hsla(0, 0%, 100%, .65);
}

.modal__form {
	@include flex(column, space-between);
}

.modal__title {
	position      : relative;

	margin        : 0 0 28px;
	padding       : 0 0 13px;

	@include font($main-font-family, 1.333em, bold, 1.35, $modal-text-color, transparent);

	text-align    : center;
	text-transform: uppercase;

	&::after {
		@include pseudo;
		right     : 30px;
		bottom    : 0;
		left      : 30px;

		height    : 0.9px;

		background: $modal-text-color;
	}
}

.modal__title--recovery {
	margin: 0 0 10px;
}

.modal__label {
	@include flex(column, center);
}

.modal__text {
	margin : 3px 0;
	padding: 0;
	width  : 344px;

	@include font($main-font-family, 0.733em, bold, 1.35, $modal-text-second-color, transparent);
}

.modal__input {
	position      : relative;

	margin-bottom : 10px;
	padding       : 9px 15px;
	box-sizing    : border-box;
	width         : 344px;

	@include font(Baskerville Old Face, 1.333em, normal, 1, $main-text-color, $main-background);

	border        : none;
	border-radius : 5px;

	&::placeholder {
		color: $input-text-color;
	}

	&:valid {
		background: $main-background;
		box-shadow: inset 0 0 0 2px #1DE17A;
	}
}

.modal__input--recovery {
	margin-bottom: 0;
}

.modal__input--captcha {
	position  : relative;

	overflow  : hidden;

	margin-top: 4px;
	padding   : 0;
	width     : 280px;
	height    : 49px;

	align-self: center;

	&::before {
		@include pseudo;
		z-index        : 2;

		@include size(100%, 100%)

		background     : #ffffff url(../img/recaptcha.jpg) no-repeat;
		background-size: contain;
	}
}

.modal__buttons {
	@include flex(row, space-between);

	margin-top : 5px;

	align-items: flex-start;

	span {
		margin: 15px 10px;

		@include font($main-font-family, 1.2em, 500, 1.33, #000000, transparent);
	}
}

.modal__button-group {
	min-width : 130px;

	text-align: center;

	flex-grow : 1;
}

.modal__buttons--recovery {
	margin-top    : 13px;
	padding-bottom: 25px;
}

.modal__button {
	box-sizing: border-box;
	min-width : 146px;

	color     : $modal-text-color;

	text-align: center;

	background: $modal-text-second-color;

	flex-grow : 1;

	&:hover,
	&:focus {
		border-color: #111111;
		background  : #111111;
	}
}

.modal__button--recovery {
	padding    : 6px 18px;
	width      : 160px;

	line-height: 1.31;

	white-space: pre-line;

	&:first-child {
		margin-right: 25px;
	}
}

.modal__button--login {
	margin-bottom : 4px;
	width         : 100%;
}

.modal__link {
	position: relative;

	@include font($main-font-family, 0.733em, 500, 1.46, $modal-text-second-color, transparent);

	text-decoration: none;

	&::before {
		@include pseudo;
		bottom    : 0;
		left      : 0;

		@include size(0, 1px);

		transition: all 300ms ease;

		background: $modal-text-second-color;
	}

	&:hover {
		font-weight: 700;

		&::before {
			width: 100%;
		}
	}
}


.modal__article-photo {
	display: none;
}

.modal--favorites-login {
	top    : 42%;

	@include flex(row, space-between, none);

	padding: 37px 30px;

	.modal__article-photo {
		display      : block;
		overflow     : hidden;

		margin-top   : 19px;
		@include size(207px, 273px);

		border-radius: 10px;
	}
}

.modal__form--favorites-login {
	width: 344px;
}

.modal--show {
	display: flex;
}

.modal--page {
	position      : relative;
	top           : 0;
	left          : 0;
	z-index       : 0;

	display       : flex;

	margin        : 0 auto;
	padding-bottom: 100px;

	transform     : translate(0, 0);

	border-top    : 1px solid $main-text-color;
	border-radius : 0;
}

.modal__title--page {
	color: $modal-page-text-color;

	&.modal__title--recovery {
		margin-bottom: 30px;
	}

	&:after {
		background: $modal-page-text-color;
	}
}

.modal__input--page {
	margin-bottom: 20px;

	border       : 1px solid $border-form-color;
}

.modal__button--page {
	color       : $main-text-color;

	border-color: $main-text-color;
	background  : $main-background;

	&.modal__button--recovery {
		margin-top: 20px;
	}

	&:hover,
	&:focus {
		color       : $main-background;

		border-color: $main-text-color;
		background  : $main-text-color;
	}
}

.modal__article-photo--page {
	margin-top: 52px;
}