.modal-search {
	position   : fixed;
	top        : 0;
	right      : 0;

	display    : none;

	@include size(100%, 100%);

	background : $modal-search-backdgound;

	&.modal--show {
		display   : block;

		animation : searhshow 1s cubic-bezier(.65,.05,.36,1);
	}

	&.modal--close  {
		display   : block;

		animation : searhclose 1s cubic-bezier(.65,.05,.36,1);
	}

	&:focus {
		z-index: 2;
	}
}

.header--top {
	position: sticky;
}

@keyframes searhshow {
	0%   {transform: scale(0); opacity: 0;}
	30%  {opacity: .9;}
	100% {transform: scale(1); opacity: 1;}
}

@keyframes searhclose {
	0%   {transform: scale(1); opacity: 1;}
	70%  {opacity: .9;}
	100% {transform: scale(0); opacity: 0;}
}

.modal-search__form {
	position: relative;

	@include flex(column, flex-start);
	overflow   : hidden;

	margin     : auto;
	margin-top : 50vh;
	padding    : 69px 25px;
	width      : 1010px;

	transform  : translateY(-50%);
}

.modal-search__title {
	margin         : 0 0 52px;

	@include font($main-font-family, 1.933em, normal, 1.34, $modal-text-color, $modal-search-backdgound);

	text-transform : uppercase;
}

.modal-search__input {
	margin        : 10px 0;
	padding       : 9px 22px;

	@include font($main-font-family, 1.4em, normal, 1.31, $modal-text-color, transparent);

	border        : none;
	border-bottom : 1px solid $modal-text-color;

	&:focus {
		border-width  : 2px;
		border-radius : 0;
		box-shadow    : none;
	}
}

.modal-search__button {
	position            : absolute;
	right               : 24px;
	bottom              : 80px;
	z-index             : z('modal-search__button');

	display             : block;

	padding             : 5px;
	@include size(40px, 30px);

	color               : transparent;

	border              : none;
	background          : transparent;
	background-image    : url(../img/sprite.svg#icon-search-back);
	background-repeat   : no-repeat;
	background-position : center;
	background-size     : 24px 24px;

	&:not([disabled]) {
		cursor: pointer;
		transition : .3s;
		transform  : translateX(0px);
	}

	&:disabled {
		transform: translateX(150%);
	}

	&:not([disabled]):hover,
	&:not([disabled]):focus {
		transition-delay : .3s;
		transform        : scale(1.15);
	}
}

.modal-search--page {
	position : relative;

	display  : block;

	.modal-search__form {
		position   : relative;

		margin-top : auto;
		padding    : 150px 25px;

		transform  : none;
	}

	.modal-search__button {
		bottom : 161px;
	}
}