.user-menu {
	margin-top   : -3px;
	margin-right : 27px;
	margin-bottom: 6px;

	@include flex(row, flex-end);

	padding-left : 0;
	padding-top  : 11px;

	list-style   : none;
	background   : #ffffff;
}

.user-menu__item {
	margin       : 4px 4px;
}

.user-menu__link {
	display : block;

	padding : 2px;
	@include size(20px, 20px);

	.user-menu__icon {
		transition: all 0.3s ease;
	}

	&:hover .user-menu__icon,
	&:focus .user-menu__icon,
	&:not([href]) .user-menu__icon {
		transition-delay : .3s;
		transform        : scale(1.15);
	}
}

.user-menu__item--search {
	display     : none;
}

.user-menu__item--search-close {
	position    : relative;
	margin-left : 7px;

	display     : none;
}

.user-menu__search-close {
	padding     : 4px;
	@include size(30px, 30px);

	cursor      : pointer;

	border      : none;
	background  : transparent;

	&::before,
	&::after {
		@include pseudo;
		top        : 12px;
		left       : 2px;

		@include size(24px, 1px);

		transform  : rotate(45deg) translate(2px, 2px);

		background : #000000;
	}

	&:after {
		right     : 0;

		transform : rotate(135deg) translate(2px, -2px);;
	}

	&:hover::before,
	&:hover::after,
	&:focus::before,
	&:focus::after {
		height: 2px;
	}
}

.user-menu--toggle {
	display: block;

	.user-menu__search-close,
	.link-search {
		animation: searchon .5s;
	}
}

.user-menu--toggle-close {

	.link-search,
	.user-menu__search-close {
		animation: searchoff 1s;
	}
}

@keyframes searchon {
	0%   {transform: rotateX(90deg);}
	100% {transform: rotateX(0deg);}
}

@keyframes searchoff {
	0%   {transform: rotateX(0deg);}
	100% {transform: rotateX(90deg);}
}

.user-menu__item--cart {
	position: relative;
}

.user-menu__number-purchases {
	position     : absolute;
	top          : -2px;
	right        : -5px;

	@include flex(row, center);

	@include size(14px, 14px);

	@include font($accent-font-family, 0.6em, 600, 1.44, #ffffff, #000000);

	border-radius: 50%;

	align-items  : center;
}

.main-nav__icon {
	display: block;
}

@media (min-width: $desktop) {
	.user-menu {
		margin-top: 37px;
	}

	.user-menu__link {
		padding : 4px;
		@include size(25px, 25px);
	}

	.link-search {
		animation: searchon .5s;
	}

	.user-menu__item--search-close {
		position    : relative;
		margin-left : 7px;

		display     : none;
	}

	.user-menu__search-close {
		cursor      : pointer;
		animation   : searchon 1s;

		background  : transparent;

		&::before,
		&::after {
			@include pseudo;
			top        : 11px;
			left       : 1px;

			@include size(24px, 1px);

			transform  : rotate(45deg) translate(2px, 2px);

			background : #000000;
		}

		&:after {
			right     : 0;

			transform : rotate(135deg) translate(2px, -2px);;
		}

		&:hover::before,
		&:hover::after,
		&:focus::before,
		&:focus::after {
			height: 2px;
		}
	}

	.user-menu__number-purchases {
		right        : 2px;

		@include size(16px, 16px);
	}
}