extends includes/template.pug

block variables
	- var title = 'Good'
	- var goodHtml = true

block content
	main.main-content
		include includes/blocks/good_card.pug
		include includes/blocks/good_info.pug

