include ../mixins.pug

section#main-content.modal.modal--favorites-login.modal--page
	+picture('modal__article-photo modal__article-photo--page','modal-favorites')
	form.modal__form.modal__form--favorites-login.modal__form--page(action='' method='post' name='login-form')
		h3.modal__title Вход
		label.modal__label.visually-hidden(for='login-email') Введите email
		input#login-email.modal__input.modal__title--page(type='email' name='login' placeholder='Email' required='')
		label.modal__label.visually-hidden(for='login-password') Введите пароль
		input#login-password.modal__input.modal__input--page(name='pasword' type='password' pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' placeholder='Password' required='')
		#recaptcha.modal__input.modal__input--captcha.g-recaptcha.modal__input--page(data-sitekey='6LeBMLQUAAAAAMpIkzxAeI6yHx-dgA7k6XZaSZ2U')
		.modal__label.modal__label--captchaError
		.modal__buttons
			.modal__button-group
				input#submit-login.modal__button.modal__button--login.form-button.modal__input--page(type='submit' name='submit_login-login' value='Войти')
				+link('modal__link link-recovery modal__button--page','Забыли пароль?','recovery-password.html')
			span или
			+link('modal__button modal__button--page form-button','Подписаться')