.good_info__form_wrap.tab-block
	p.good_info__form_txt.
		Be the first to review “Gold Plated Desk Lantern Lamp”
		#[br]
		Your E-mail Address Will not be published. Required field are marked *
	span.good_info__form_txt Your rating
	.form__rating
		+star('icon-rating')
		+star('icon-rating')
		+star('icon-rating')
		+star('icon-rating')
		+star('icon-rating_none')

	form.good_info__form
		.good_info__form_review.good_info__form_box
			span.good_info__form_txt Your Review *
			textarea.good_info__form_textarea.good_info__form_input#textInput(rows="20" required placeholder='Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.')
		.good_info__form_name.good_info__form_box
			span.good_info__form_txt Name*
			input.good_info__form_name_input.good_info__form_input#nameInput(type='text' required placeholder='Анна Тепликова')
		.good_info__form_email.good_info__form_box
			span.good_info__form_txt E-mail*
			input.good_info__form_email_input.good_info__form_input(type='text' required placeholder='atep@gmail.com')
		.good_info__form_btn_wrap
			input.good_info__form_btn#addButton(type='submit' value='Добавить коментарий')