section.good_card.good_margin

	.good_card__pic_wrap
		img.good_card__pic.good_card__pic_small(src="img/wx1/image3.1_desk.webp")
		img.good_card__pic.good_card__pic_small(src="img/wx1/image3.1_desk.webp")
		img.good_card__pic.good_card__pic_small(src="img/wx1/image3.1_desk.webp")
		img.good_card__pic.good_card__pic_big(src="img/wx2/image3.1_desk.webp")

	.good_card__description
		.title_price
			h1.good_card__title Gold Plated Desk Lantern Lamp
			span.good_card__price $112.00
		.good_card__rating
			svg(width='18' height='18')
				use(xlink:href='img/star.svg#icon-rating')
			svg(width='18' height='18')
				use(xlink:href='img/star.svg#icon-rating')
			svg(width='18' height='18')
				use(xlink:href='img/star.svg#icon-rating')
			svg(width='18' height='18')
				use(xlink:href='img/star.svg#icon-rating')
			svg(width='18' height='18')
				use(xlink:href='img/star.svg#icon-rating_none')
		p.good_card__text.
			On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.
		.good_card__choose_color
			span.good_card__choose_txt Выбрать цвет
			.good_card__colors
				button.good_card__color.color_red
				button.good_card__color.color_purple
				button.good_card__color.color_pink
				button.good_card__color.color_orange
		.good_card__choose_size
			span.good_card__choose_txt Выбрать размер
			.good_card__sizes
				button.good_card__size.size_xs xs
				button.good_card__size.size_s s
				button.good_card__size.size_m m
				button.good_card__size.size_l l
		.good_card__order
			button.order_btn.btn_basket В корзину
			button.order_btn.btn_favorite
				svg(width='25' height='28' viewBox="-2 -6 25 25")
					use(xlink:href='img/sprite.svg#icon-favorites')